<div class="row">
	<form class="form-signin" role="form" novalidate angular-validator name="userLoginForm" angular-validator-submit="login()">
		<h3 class="form-signin-heading">Sign in</h3>
		<div class="form-group">
			<label for="inputUsername" class="sr-only">Username</label>
			<input type="text" id="inputUsername" name="inputUsername" class="form-control" ng-model="user.username" placeholder="Username"
				   validate-on="blur" required required-message="'Username is required'">
		</div>
		<div class="form-group">
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" name="inputPassword" class="form-control" ng-model="user.password" placeholder="Password"
				   validate-on="blur" required required-message="'Password is required'">
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

		<div class="pull-right">
			<a ng-href="#/register" class="control-label">Register</a>
		</div>
		<script>
			window.fbAsyncInit = function () {
				FB.init({
					appId: '247733828993169',
					status: false,
					cookie: true,
					xfbml: true,
					oauth: true
				});
				$("#loginBtn").click(function () {
					FB.login(Facebook_login);
				});
			};

			(function (d) {
				var js, id = 'facebook-jssdk'; if (d.getElementById(id)) { return; }
				js = d.createElement('script'); js.id = id; js.async = true;
				js.src = "https://connect.facebook.net/en_US/all.js";
				d.getElementsByTagName('head')[0].appendChild(js);
			}(document));
			
			function Facebook_login() {
				FB.getLoginStatus(function (response) {
					if (response.status === 'connected') {
						window.location = window.location.host + "/#/login";
						FB.api('/me', function (response) {
							var elem = angular.element(document.getElementById('pageContent'));
							var scope = elem.scope();
							scope.fbLoginMsg(response.name, response.id);
						});
					}
				});
			};

			(function (d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=247733828993169";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<div id="fb-root"> </div>
		<div id="loginBtn" onlogin="Facebook_login()" class="fb-login-button" data-max-rows="1" data-size="small" data-show-faces="false"></div>
	</form>
</div>